# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django
db.sqlite3
*.log
media/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Static collected files
staticfiles/

# Python build files
build/
dist/
*.egg-info/

# Migrations cache
**/__pycache__/

# PostgreSQL local secrets if stored anywhere
*.env